
<style>
    /* Add custom classes and styles that you want inlined here */
    .text-doctour{
    color: #006F4A
    }
    h2{
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 125% */

    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
    }
    .text-black{
    color: #030203;
    }
    .email-body > p{
    /* body */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */

    text-align: center;

    /* onyx */

    color: #030203;
    }
    footer{
    background: #FBFBFB;
    width: calc(100% - 2rem);
    display: block;
    position: relative;
    left: 1rem;
    }
    
    .footer-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */

  

    color: #767B7A;
    text-align: center;
    
    }
    
</style>
<div class="center-text">
  <div class="container mt-4">
    <div class="row">
      <div class="col">
        <img class="img-fluid mx-auto d-block" src="https://i.ibb.co/bPPMmzn/Bem-vindo.png" />
      </div>
    </div>
      <div class="email-body mx-auto mt-2" style="width: 450px;">
        <h2 class="text-doctour"> Olá, </h2>
        <h2 class="text-black mt-2"> Hellen Rodrigues </h2>
        <p class="mt-3"> Você recebeu este e-mail pois foi cadastrado no sistema Doctour. Clique no botão abaixo para começar a utilizar o sistema. </p>
      </div>
    <a class=" btn btn-primary bg-white mx-auto mt-4"  style="background-color: #00B380;border: 1px solid #00B380; padding: 8px 4rem; border-radius: 18px" href="https://doctour.com.br">COMEÇAR</a>
  </div>
  <footer class="mt-3">
    <p class="py-2 footer-text mx-auto">@ Doctour | v0.1</p>
  </footer>
</div>